@page
@model BookedModel
@{
    ViewData["Title"] = "Gebuchte Bestellungen";
}

<h2 style="color: red; font-weight: bold;">Gebuchte Bestellungen</h2>
<div class="container">
    <div class="content">
        <div class="products-list">
            <div class="actions">
                @if (Model.IsOrderViewVisible)
                {
                    <form method="post" style="margin-right: 10px;" asp-page-handler="ToggleOrderView">
                        <input type="hidden" name="isOrderViewVisible" value="@Model.IsOrderViewVisible" />
                        <input type="hidden" name="customerId" value="@Model.CustomerId" />
                        <input type="hidden" name="orderNumber" value="@Model.OrderNumber" />
                        <button type="submit" class="btn btn-outline-primary">Zurück zur Übersicht</button>
                    </form>
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Kunden ID</th>
                                <th>Vorname</th>
                                <th>Nachname</th>
                                <th>Abholer</th>
                                @if (Model.OrderNumber != string.Empty)
                                {
                                    <th>Bestellnummer</th>
                                }
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var customer in Model.CustomerList)
                            {
                                <tr>
                                    <td>@customer.ID</td>
                                    <td>@customer.FirstName</td>
                                    <td>@customer.LastName</td>
                                    <td>@(Model.GroupedOrdersList.First().PickUpName ?? "Selbstabholer")</td>
                                    @if (Model.OrderNumber != string.Empty)
                                    {
                                        <td>@Model.OrderNumber</td>
                                    }
                                </tr>
                            }
                            <tr></tr>
                        </tbody>
                    </table>
                    <table class="table">
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>Produkt</th>
                                <th>Preis</th>
                                <th>Größe</th>
                                <th>Einheit</th>
                                <th>Bestellmenge</th>
                                <th>Kosten</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var product in Model.ProductList)
                            {
                                var orderItem = Model.CalculatedOrder.FirstOrDefault(o => o.ProductId == product.ID);
                                if (orderItem?.Quantity != null)
                                {
                                    <tr>
                                        <td>@product.ID</td>
                                        <td>@product.ProductName</td>
                                        <td style="white-space: nowrap">@BasePageModel.FormatAsEuro(product.Price)</td>
                                        <td>@product.Size</td>
                                        <td style="white-space: nowrap">@product.Unit</td>
                                        <td>@orderItem.Quantity</td>
                                        <td style="text-align: right;">@BasePageModel.FormatAsEuro(null, orderItem.Cost)</td>
                                    </tr>
                                }
                            }
                            <tr>
                                @if (Model.OrderDetails.First().Booked != "booked")
                                {
                                    <td colspan="1">
                                        <form method="post" style="margin-right: 10px;" asp-page-handler="BookOrder">
                                            <input type="hidden" name="orderNumber" value="@Model.OrderNumber" />
                                            <input type="hidden" name="customerId" value="@Model.CustomerId" />
                                            <button type="submit" class="btn btn-outline-primary">Buchen</button>
                                        </form>
                                    </td>
                                    <td></td>
                                }
                                else
                                {
                                    <td colspan="1">
                                        <form method="post" style="margin-right: 10px;" onsubmit="return confirm('Sind Sie sicher, dass Sie für Bestellung @Model.OrderNumber die Buchung zurücknehmen möchten?');" asp-page-handler="StornoOrder">
                                            <input type="hidden" name="orderNumber" value="@Model.OrderNumber" />
                                            <input type="hidden" name="customerId" value="@Model.CustomerId" />
                                            <button type="submit" class="btn btn-outline-danger">Storno</button>
                                        </form>
                                    </td>
                                    <td style="font-size: 20px; color: red; font-weight: bold;">Bestellung ist gebucht!</td>
                                }
                                <td colspan="4" style="text-align: right;">Gesamtsumme</td>
                                <td style="text-align: right;">@BasePageModel.FormatAsEuro(null, Model.CalculatedOrder.Sum(item => item.Cost))</td>
                            </tr>
                        </tbody>
                    </table>
                }
                else
                {
                    <form method="post" asp-page-handler="FilterOrders">
                        <div style="display: flex; justify-content: space-between;">
                            <div>
                                <label for="orderNumber">Bestellnummer:</label>
                                <input type="text" id="orderNumber" name="orderNumber" />
                            </div>
                            <div>
                                <label for="customerFirstName">Kunden-Vorname:</label>
                                <input type="text" id="customerFirstName" name="customerFirstName" />
                            </div>
                            <div>
                                <label for="customerLastName">Kunden-Nachname:</label>
                                <input type="text" id="customerLastName" name="customerLastName" />
                            </div>
                            <div>
                                <button type="submit" class="btn btn-outline-primary" style="margin-left: 10px">Suchen</button>
                            </div>
                        </div>
                    </form>
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Bestellnummer</th>
                                <th>Kunden-ID</th>
                                <th>Kunde</th>
                                <th style="text-align: right;">Abholer</th>
                                <th style="text-align: right;">Bestellkosten</th>
                                <th>Aktionen</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var order in Model.GroupedOrdersList)
                            {
                                @if (string.IsNullOrEmpty(order.Items.First().Booked)) { continue; }
                                <tr>
                                    <td>@order.OrderNumber</td>
                                    <td>@order.Items.First().CustomerId</td>
                                    <td>@order.Items.First().Customer.FirstName @order.Items.First().Customer.LastName</td>
                                    <td style="text-align: right;">@(order.Items.First().PickUpName ?? "Selbstabholer")</td>
                                    <td style="text-align: right;">@BasePageModel.FormatAsEuro(@order.TotalPrice)</td>
                                    <td style="display: flex;">
                                        <form method="post" style="margin-right: 10px;" asp-page-handler="ToggleOrderView">
                                            <input type="hidden" name="customerId" value="@Model.CustomerId" />
                                            <input type="hidden" name="orderNumber" value="@order.OrderNumber" />
                                            <button type="submit" class="btn btn-outline-primary">Anzeigen</button>
                                        </form>
                                    </td>
                                </tr>
                            }
                            <tr>
                                <td colspan="4" style="text-align: right;">Gesamtsumme</td>
                                <td style="text-align: right;">@BasePageModel.FormatAsEuro(null, Convert.ToDecimal(Model.TotalBookedOrdersSum))</td>
                                <td></td>
                            </tr>
                        </tbody>
                    </table>
                }
            </div>
        </div>
    </div>
</div>