@page
@model CustomerModel

<div class="container">
    <div class="content">
        <div class="customer-list">
            <h2>Kunden</h2>
            <div class="actions">
                <form method="post">
                    <button type="submit" class="btn btn-outline-primary" asp-page-handler="ToggleNewCustomerForm">Neuer Kunde</button>
                </form>
            </div>
            <table class="table">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Vorname</th>
                        <th>Nachname</th>
                        <th>Aktion</th>
                    </tr>
                </thead>
                <tbody>
                    @if (Model.IsNewCustomerFormVisible)
                    {
                        <tr>

                            <form method="post">
                            <td></td>
                            <td>
                                <input type="text" name="firstName" placeholder="Vorname">
                            </td>
                            <td>
                                <input type="text" name="lastName" placeholder="Nachname">
                            </td>
                            <td style="display: flex;">
                                <button type="submit" class="btn btn-outline-success" style="margin-right: 10px;" asp-page-handler="AddCustomer">Senden</button>
                                <button type="submit" class="btn btn-outline-primary" asp-page-handler="CancelCustomer">Abbrechen</button>
                            </td>
                            </form>
                        </tr>

                    }
                    @if (Model.IsEditCustomerFormVisible)
                    {
                        <tr>
                            @foreach (var customer in Model.CustomerList)
                            {
                                <form method="post">
                                <td></td>
                                <td><input type="text" name="firstName" placeholder="Vorname" value="@customer.FirstName"></td>
                                <td><input type="text" name="lastName" placeholder="Nachname" value="@customer.LastName"></td>
                                <input type="hidden" name="customerId" value="@customer.ID" />
                                <td style="display: flex;">
                                    <button type="submit" class="btn btn-outline-success" style="margin-right: 10px;" asp-page-handler="EditCustomer">Senden</button>
                                    <button type="submit" class="btn btn-outline-primary" asp-page-handler="CancelCustomer">Abbrechen</button>
                                </td>
                                </form>
                            }
                        </tr>
                    }
                    @foreach (var customer in Model.CustomerList)
                    {
                        <tr>
                            <td>@customer.ID</td>
                            <td>@customer.FirstName</td>
                            <td>@customer.LastName</td>
                            <td style="display: flex;">
                                <form method="post" style="margin-right: 10px;">
                                    <input type="hidden" name="customerId" value="@customer.ID" />
                                    <a href="/CustomerOrders?customerId=@customer.ID" class="btn btn-outline-primary">Bestellungen</a>
                                </form>
                                <form method="post" style="margin-right: 10px;" asp-page-handler="ToggleEditCustomerForm">
                                    <input type="hidden" name="customerId" value="@customer.ID" />
                                    <button type="submit" class="btn btn-outline-primary">Bearbeiten</button>
                                </form>
                                <form method="post" onsubmit="return confirm('Sind Sie sicher, dass Sie @customer.FirstName @customer.LastName löschen möchten?');" asp-page-handler="DeleteCustomer">
                                    <input type="hidden" name="customerId" value="@customer.ID" />
                                    <button type="submit" class="btn btn-outline-danger">löschen</button>
                                </form>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
            <p style="color:red">@Model.ErrorMessage</p>
        </div>
    </div>
</div>
