@page
@model CustomerOrdersModel
@{
}
<script>
    function checkInput() {
        // Überprüfen Sie, welcher Button gedrückt wurde
        var formAction = document.activeElement.getAttribute('formaction');
        if (formAction.endsWith('SubmitOrder')) {
            var username = document.getElementById('username').value;
            if (username == '') {
                alert('Bitte geben Sie einen Benutzernamen ein.');
                return false;
            }
        }
        return true;
    }
</script>

<h2>Bestellungen @Model.OrderStatus</h2>
<div class="container">
    <div class="content">
        <div class="products-list">
            <div class="actions">
                <form method="post">
                    <input type="hidden" name="customerId" value="@Model.CustomerId" />
                    <button type="submit" class="btn btn-outline-primary" asp-page-handler="ToggleNewOrderForm">@Model.CultureStrings["NewOrder"]</button>
                </form>
            </div>
            <table class="table">
                <thead>
                    <tr>
                        <th>@Model.CultureStrings["Customer"] ID</th>
                        <th>@Model.CultureStrings["FirstName"]</th>
                        <th>@Model.CultureStrings["LastName"]</th>
                        @if (Model.OrderNumber != string.Empty)
                        {
                            <th>@Model.CultureStrings["OrderNumber"]</th>
                        }
                    </tr>
                </thead>
                <tbody>
                    @foreach (var customer in Model.CustomerList)
                    {
                        <tr>
                            <td>@customer.ID</td>
                            <td>@customer.FirstName</td>
                            <td>@customer.LastName</td>
                            @if (Model.OrderNumber != string.Empty)
                            {
                                <td>@Model.OrderNumber</td>
                            }
                        </tr>
                    }
                    <tr></tr>
                </tbody>
            </table>
            @if (Model.IsNewOrderFormVisible || Model.IsEditOrderFormVisible)
            {
                <form method="post" onsubmit="return checkInput();">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>@Model.CultureStrings["Product"]</th>
                                <th>@Model.CultureStrings["Price"]</th>
                                <th>@Model.CultureStrings["Size"]</th>
                                <th>@Model.CultureStrings["Unit"]</th>
                                <th>@Model.CultureStrings["StockQuantity"]</th>
                                <th>@Model.CultureStrings["OrderQuantity"]</th>
                                <th>@Model.CultureStrings["Cost"]</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var product in Model.ProductList)
                            {
                                var orderItem = Model.CalculatedOrder.FirstOrDefault(o => o.ProductId == product.ID);
                                <tr>
                                    <td>@product.ID</td>
                                    <td>@product.ProductName</td>
                                    <td style="white-space: nowrap">@BasePageModel.FormatAsEuro(product.Price)</td>
                                    <td>@product.Size</td>
                                    <td style="white-space: nowrap">@product.Unit</td>
                                    <td>@product.Inventory</td>
                                    <td>
                                        <input type="number" min="0" name="orderQuantity[@product.ID]" id="quantity_@product.ID" value="@orderItem?.Quantity" />
                                    </td>
                                    <td style="text-align: right;">@BasePageModel.FormatAsEuro(null, orderItem?.Cost)</td>
                                </tr>
                            }
                            <tr>
                                <td colspan="7" style="text-align: right;">@Model.CultureStrings["Total"]</td>
                                <td style="text-align: right;">@BasePageModel.FormatAsEuro(null, Model.CalculatedOrder.Sum(item => item.Cost))</td>
                            </tr>
                            <tr></tr>
                        </tbody>
                    </table>
                    <table class="table">
                        <thead>
                            <tr><th>@Model.CultureStrings["Actions"]</th></tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td colspan="8" style="display: flex;">
                                    <input type="hidden" name="customerId" value="@Model.CustomerId" />
                                    <input type="hidden" name="orderNumber" value="@Model.OrderNumber" />
                                    <button type="submit" formaction="?handler=CalculateCosts" style="margin-right: 10px;" class="btn btn-outline-primary">@Model.CultureStrings["Calculate"]</button>
                                    <button type="submit" formaction="?handler=SubmitOrder" style="margin-right: 10px;" class="btn btn-outline-success">@Model.CultureStrings["Send"]</button>
                                    <label class="col-form-label-lg" for="pickUpName" style="margin-right: 10px;">@Model.CultureStrings["Collector"]: </label>
                                    <input type="text" id="pickUpName" name="pickUpName" value="@(Model.OrderDetails.FirstOrDefault()?.PickUpName ?? @Model.CultureStrings["SelfCollector"])" />
                                    <label class="col-form-label-lg" for="userName" style="margin-left: 10px; margin-right: 10px;">@Model.CultureStrings["ServiceWorker"]: </label>
                                    <input type="text" id="username" name="userName" value="@(Model.OrderDetails.FirstOrDefault()?.UserName ?? @Model.CultureStrings["ServiceWorker"] + " 1")" />
                                    <button type="submit" formaction="?handler=CancelAction" style="margin-left: 30px;" class="btn btn-outline-primary">@Model.CultureStrings["Cancel"]</button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </form>
            }
            else
            {
                <table class="table">
                    <thead>
                        <tr>
                            <th>@Model.CultureStrings["OrderNumber"]</th>
                            <th>@Model.CultureStrings["Collector"]</th>
                            <th>Bestellzeit</th>
                            <th>@Model.CultureStrings["ServiceWorker"]</th>
                            <th>@Model.CultureStrings["OrderCost"]</th>
                            <th>@Model.CultureStrings["Actions"]</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var order in Model.GroupedOrdersList)
                        {
                            <tr>
                                <td>@order.OrderNumber</td>
                                <td>@order.Items.First().PickUpName</td>
                                <td>@order.Items.First().Date</td>
                                <td>@order.Items.First().UserName</td>
                                <td>@BasePageModel.FormatAsEuro(@order.TotalPrice)</td>
                                @if (string.IsNullOrEmpty(order.Items.First().Booked))
                                {
                                    <td style="display: flex;">
                                        <form method="post" style="margin-right: 10px;" asp-page-handler="ToggleEditOrderForm">
                                            <input type="hidden" name="orderNumber" value="@order.OrderNumber" />
                                            <button type="submit" class="btn btn-outline-primary">@Model.CultureStrings["Edit"]</button>
                                        </form>
                                        <form method="post" asp-page-handler="DeleteProduct">
                                            <input type="hidden" name="customerId" value="@Model.CustomerId" />
                                            <input type="hidden" name="orderNumber" value="@order.OrderNumber" />
                                            <button type="button" class="btn btn-outline-danger" data-bs-toggle="modal" data-bs-target="#deleteModal-@order.OrderNumber">
                                                @Model.CultureStrings["Delete"]
                                            </button>
                                            <div class="modal fade" id="deleteModal-@order.OrderNumber" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
                                                <div class="modal-dialog" role="document">
                                                    <div class="modal-content">
                                                        <div class="modal-header">
                                                            <h5 class="modal-title" id="deleteModalLabel">@Model.CultureStrings["ConfirmDeletion"]</h5>
                                                            <button type="button" class="btn btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                        </div>
                                                        <div class="modal-body">
                                                            <p>@Model.CultureStrings["DeleteOrderQuestion"] @order.OrderNumber ?</p>
                                                        </div>
                                                        <div class="modal-footer">
                                                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">@Model.CultureStrings["Cancel"]</button>
                                                            <button type="submit" class="btn btn-danger">@Model.CultureStrings["Delete"]</button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </form>
                                    </td>
                                }else
                                {
                                    <td style="color: red; font-weight: bold;">@Model.CultureStrings["Booked"]!</td>
                                }
                            </tr>
                        }
                    </tbody>
                </table>
            }
        </div>
    </div>
</div>