@page
@model IndexModel
@{
    ViewData["Title"] = @Model.CultureStrings["Orders"];
}

<h2>@Model.CultureStrings["Orders"]</h2>
<div class="container">
    <div class="content">
        <div class="products-list">
            <div class="actions">
                @if (Model.IsOrderViewVisible)
                {
                    <form method="post" style="margin-right: 10px;" asp-page-handler="ToggleOrderView">
                        <input type="hidden" name="isOrderViewVisible" value="@Model.IsOrderViewVisible" />
                        <input type="hidden" name="customerId" value="@Model.CustomerId" />
                        <input type="hidden" name="orderNumber" value="@Model.OrderNumber" />
                        <button type="submit" class="btn btn-outline-primary">@Model.CultureStrings["BackToOverView"]</button>
                    </form>
                    <table class="table">
                        <thead>
                            <tr>
                                <th>@Model.CultureStrings["Customer"] ID</th>
                                <th>@Model.CultureStrings["FirstName"]</th>
                                <th>@Model.CultureStrings["LastName"]</th>
                                <th>@Model.CultureStrings["Collector"]</th>
                                @if (Model.OrderNumber != string.Empty)
                                {
                                    <th>@Model.CultureStrings["OrderNumber"]</th>
                                }
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var customer in Model.CustomerList)
                            {
                                <tr>
                                    <td>@customer.ID</td>
                                    <td>@customer.FirstName</td>
                                    <td>@customer.LastName</td>
                                    <td>@(Model.OrderDetails.First().PickUpName ?? @Model.CultureStrings["SelfCollector"])</td>
                                    @if (Model.OrderNumber != string.Empty)
                                    {
                                        <td>@Model.OrderNumber</td>
                                    }
                                </tr>
                            }
                            <tr></tr>
                        </tbody>
                    </table>
                    <table class="table">
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>@Model.CultureStrings["Product"]</th>
                                <th>@Model.CultureStrings["Price"]</th>
                                <th>@Model.CultureStrings["Size"]</th>
                                <th>@Model.CultureStrings["Unit"]</th>
                                <th>@Model.CultureStrings["OrderQuantity"]</th>
                                <th>@Model.CultureStrings["Cost"]</th>
                                <th>@Model.CultureStrings["Deliver"]</th>
                                <th>@Model.CultureStrings["Pay"]</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var product in Model.ProductList)
                            {
                                var orderItem = Model.CalculatedOrder.FirstOrDefault(o => o.ProductId == product.ID);
                                if (orderItem?.Quantity != null)
                                {
                                    <tr>
                                        <td>@product.ID</td>
                                        <td>@product.ProductName</td>
                                        <td style="white-space: nowrap">@BasePageModel.FormatAsEuro(product.Price)</td>
                                        <td>@product.Size</td>
                                        <td style="white-space: nowrap">@product.Unit</td>
                                        <td>@orderItem.Quantity</td>
                                        <td style="text-align: right;">@BasePageModel.FormatAsEuro(null, orderItem.Cost)</td>
                                        @if (Model.OrderDetails.FirstOrDefault(o => o.ProductId == product.ID)?.Booked != "booked")
                                        {
                                            <td>
                                                <form method="post" style="margin-right: 10px;" asp-page-handler="BookOrderItem">
                                                    <input type="hidden" name="productId" value="@product.ID" />
                                                    <input type="hidden" name="orderNumber" value="@Model.OrderNumber" />
                                                    <input type="hidden" name="customerId" value="@Model.CustomerId" />
                                                    <button type="submit" class="btn btn-outline-primary">@Model.CultureStrings["PartDeliver"]</button>
                                                </form>
                                            </td>
                                        }
                                        else
                                        {
                                            <td>
                                                <form method="post" style="margin-right: 10px;" onsubmit="return confirm('Sind Sie sicher, dass Sie für @product.ProductName die Lieferung zurücknehmen möchten?');" asp-page-handler="StornoOrderItem">
                                                    <input type="hidden" name="productId" value="@product.ID" />
                                                    <input type="hidden" name="orderNumber" value="@Model.OrderNumber" />
                                                    <input type="hidden" name="customerId" value="@Model.CustomerId" />
                                                    <button type="submit" class="btn btn-outline-danger">@Model.CultureStrings["PartialReturn"]</button>
                                                </form>
                                            </td>
                                        }
                                        @if (Model.OrderDetails.FirstOrDefault(o => o.ProductId == product.ID)?.Paid != "paid")
                                        {
                                            <td>
                                                <form method="post" style="margin-right: 10px;" asp-page-handler="PayOrderItem">
                                                    <input type="hidden" name="productId" value="@product.ID" />
                                                    <input type="hidden" name="orderNumber" value="@Model.OrderNumber" />
                                                    <input type="hidden" name="customerId" value="@Model.CustomerId" />
                                                    <button type="submit" class="btn btn-outline-primary">@Model.CultureStrings["PayInPart"]</button>
                                                </form>
                                            </td>
                                        }
                                        else
                                        {
                                            <td>
                                                <form method="post" style="margin-right: 10px;" onsubmit="return confirm('Sind Sie sicher, dass Sie für @product.ProductName die Bezahlung zurücknehmen möchten?');" asp-page-handler="StornoPayOrderItem">
                                                    <input type="hidden" name="productId" value="@product.ID" />
                                                    <input type="hidden" name="orderNumber" value="@Model.OrderNumber" />
                                                    <input type="hidden" name="customerId" value="@Model.CustomerId" />
                                                    <button type="submit" class="btn btn-outline-danger">@Model.CultureStrings["PartialCancellation"]</button>
                                                </form>
                                            </td>
                                        }
                                    </tr>
                                }
                            }
                            <tr>
                                @{
                                    var order = Model.GroupedOrdersList.FirstOrDefault(o => o.OrderNumber == Model.OrderNumber);
                                }
                                @if (order != null && order.TotalOpen > 0)
                                {
                                    <td colspan="1">
                                        <form method="post" style="margin-right: 10px;" asp-page-handler="BookOrder">
                                            <input type="hidden" name="orderNumber" value="@Model.OrderNumber" />
                                            <input type="hidden" name="customerId" value="@Model.CustomerId" />
                                            <button type="submit" class="btn btn-outline-primary">@Model.CultureStrings["TotalDeliver"]</button>
                                        </form>
                                    </td>
                                }
                                else
                                {
                                    <td colspan="1">
                                        <form method="post" style="margin-right: 10px;" onsubmit="return confirm('Sind Sie sicher, dass Sie für Bestellung @Model.OrderNumber die Buchung zurücknehmen möchten?');" asp-page-handler="StornoOrder">
                                            <input type="hidden" name="orderNumber" value="@Model.OrderNumber" />
                                            <input type="hidden" name="customerId" value="@Model.CustomerId" />
                                            <button type="submit" class="btn btn-outline-danger">@Model.CultureStrings["TotalReturns"]</button>
                                        </form>
                                    </td>
                                }
                                @if (order != null && order.TotalPaid != order.TotalPrice)
                                {
                                    <td colspan="2">
                                        <form method="post" style="margin-right: 10px;" asp-page-handler="PayOrder">
                                            <input type="hidden" name="orderNumber" value="@Model.OrderNumber" />
                                            <input type="hidden" name="customerId" value="@Model.CustomerId" />
                                            <button type="submit" class="btn btn-outline-primary">@Model.CultureStrings["PayInFull"]</button>
                                        </form>
                                    </td>                              
                                }
                                else
                                {
                                    <td colspan="2">
                                        <form method="post" style="margin-right: 10px;" onsubmit="return confirm('Sind Sie sicher, dass Sie für Bestellung @Model.OrderNumber die Buchung zurücknehmen möchten?');" asp-page-handler="StornoPaidOrder">
                                            <input type="hidden" name="orderNumber" value="@Model.OrderNumber" />
                                            <input type="hidden" name="customerId" value="@Model.CustomerId" />
                                            <button type="submit" class="btn btn-outline-danger">@Model.CultureStrings["TotalCancellation"]</button>
                                        </form>
                                    </td>                                 
                                }
                                <td colspan="3" style="text-align: right;">@Model.CultureStrings["Total"]</td>
                                <td style="text-align: right;">@BasePageModel.FormatAsEuro(null, Model.CalculatedOrder.Sum(item => item.Cost))</td>
                            </tr>
                        </tbody>
                    </table>
                }
                else
                {
                    <form method="post" asp-page-handler="FilterOrders">
                        <div style="display: flex; justify-content: space-between;">
                            <div style="margin-right:5px">
                                <label for="orderNumber">@Model.CultureStrings["OrderNumber"]:</label>
                                <input type="text" id="orderNumber" name="orderNumber" />
                            </div>
                            <div style="margin-right:5px">
                                <label for="customerFirstName">@Model.CultureStrings["CustomerFirstName"]:</label>
                                <input type="text" id="customerFirstName" name="customerFirstName" />
                            </div>
                            <div style="margin-right:5px">
                                <label for="customerLastName">@Model.CultureStrings["CustomerLastName"]:</label>
                                <input type="text" id="customerLastName" name="customerLastName" />
                            </div>
                            <div style="margin-right:5px">
                                <label for="pickUpName">@Model.CultureStrings["Collector"]:</label>
                                <input type="text" id="pickUpName" name="pickUpName" />
                            </div>
                            <button type="submit" class="btn btn-outline-primary" style="margin-left: 10px">@Model.CultureStrings["Search"]</button>
                        </div>
                    </form>
                    <table class="table">
                        <thead>
                            <tr>
                                <th>@Model.CultureStrings["OrderNumber"]</th>
                                <th>@Model.CultureStrings["CustomerId"]</th>
                                <th>@Model.CultureStrings["Customer"]</th>
                                <th style="text-align: right;">@Model.CultureStrings["Collector"]</th>
                                <th style="text-align: right;">@Model.CultureStrings["OrderCost"]</th>
                                <th style="text-align: right;">@Model.CultureStrings["Delivered"]</th>
                                <th style="text-align: right;">@Model.CultureStrings["ToDeliver"]</th>
                                <th style="text-align: right; border-left: 1px solid #000;">@Model.CultureStrings["Paid"]</th>
                                <th style="text-align: right;">@Model.CultureStrings["RemainingAmount"]</th>
                                <th>@Model.CultureStrings["Actions"]</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var order in Model.GroupedOrdersList)
                            {
                                <tr>
                                    <td>@order.OrderNumber</td>
                                    <td>@order.Items.First().CustomerId</td>
                                    <td>@order.Items.First().Customer.FirstName @order.Items.First().Customer.LastName</td>
                                    <td style="text-align: right;">@(order.Items.First().PickUpName ?? @Model.CultureStrings["SelfCollector"])</td>
                                    <td style="text-align: right;">@BasePageModel.FormatAsEuro(@order.TotalPrice)</td>
                                    <td style="text-align: right;">@BasePageModel.FormatAsEuro(@order.TotalDelivered)</td>
                                    <td style="text-align: right;">@BasePageModel.FormatAsEuro(@order.TotalOpen)</td>
                                    <td style="text-align: right; border-left: 1px solid #000;">@BasePageModel.FormatAsEuro(@order.TotalPaid)</td>
                                    <td style="text-align: right;">@BasePageModel.FormatAsEuro((@order.TotalPrice-@order.TotalPaid))</td>
                                    <td style="display: flex;">
                                        <form method="post" style="margin-right: 10px;" asp-page-handler="ToggleOrderView">
                                            <input type="hidden" name="customerId" value="@Model.CustomerId" />
                                            <input type="hidden" name="orderNumber" value="@order.OrderNumber" />
                                            <button type="submit" class="btn btn-outline-primary">@Model.CultureStrings["Show"]</button>
                                        </form>
                                    </td>
                                </tr>
                            }
                            <tr>
                                <td colspan="4" style="text-align: right;">@Model.CultureStrings["Total"]</td>
                                <td style="text-align: right;">@BasePageModel.FormatAsEuro(null, Convert.ToDecimal(Model.TotalOrdersSum))</td>
                                <td style="text-align: right;">@BasePageModel.FormatAsEuro(null, Convert.ToDecimal(Model.TotalBookedOrdersSum))</td>
                                <td style="text-align: right;">@BasePageModel.FormatAsEuro(null, Convert.ToDecimal(Model.TotalNotBookedOrdersSum))</td>
                                <td style="text-align: right; border-left: 1px solid #000;">@BasePageModel.FormatAsEuro(null, Convert.ToDecimal(Model.TotalPaidSum))</td>
                                <td style="text-align: right;">@BasePageModel.FormatAsEuro(null, Convert.ToDecimal(Model.TotalOrdersSum-Model.TotalPaidSum))</td>
                                <td></td>
                            </tr>
                        </tbody>
                    </table>
                }
            </div>
        </div>
    </div>
</div>
